@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil");
/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  color: white;
}

.clearfix::after {
  /* content: ""; */
  display: table;
  clear: both;
}

body {
  background: #000;
  font-size: 16px;
  position: relative;
  height: 100vh;
  width: 100%;
  font-weight: 400;
}

/**********************************************/

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

header h4 {
  font-size: 2vw;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.budget__title {
  font-size: 2vw;
  color: rgb(192, 192, 192);
  margin: 4rem 0;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 18px;
}

.budget__value {
  font-size: 10vw;
  font-weight: 700;
  text-align: center;
}

.top-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

.budget__income,
.budget__expenses {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget__income--text,
.budget__income--value,
.budget__expenses--text,
.budget__expenses--value {
  font-size: 2vw;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 18px;
}

.budget__expenses--text,
.budget__income--text {
  color: rgb(192, 192, 192);
}

.right,
.right *,
.left,
.left * {
  display: flex;
  margin: 0 1em;
  align-items: center;
}

.budget__expenses--percentage,
.budget__income--percentage {
  border: 1px solid red;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget__income--percentage {
  border: 1px solid greenyellow;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
  padding: 25px 0;
  background-color: #131313;
}

.add__container {
  margin: 0 auto;
  text-align: center;
}

.add__type {
  width: 55px;
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 18px;
  color: inherit;
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 400px;
}
.add__value {
  width: 100px;
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: greenyellow !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid yellowgreen;
}

.add__btn:focus {
  outline: none;
}

/***** LISTS *****/
.container {
  width: 100%;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.income,
.income__list {
  width: 30%;
  margin-right: 50px;
}

.expenses,
.expenses__list {
  width: 30%;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.icome__title,
.expenses__title {
  color: rgb(192, 192, 192);
  padding-bottom: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.icome__title {
  border-bottom: 1px solid yellowgreen;
}

.expenses__title {
  border-bottom: 1px solid red;
}

.item {
  padding: 13px;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: space-between;
}

.item__value {
  transition: transform 0.3s;
}

.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: red;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: yellowgreen;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: red;
}

.item__delete {
  float: left;
}

.item__delete--btn {
  font-size: 22px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: red;
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}

.bottom-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
